.tasks {
  width: 400px;
  height: 80px;
  background-color: #eeeeee;
  position: relative;
  display: flex;
  margin-left: 200px;
  margin-top: 20px;
  border-radius: 20px;
}

.tasks:hover {
  position: relative;
  top: 2px;
  left: 2px;
}

.tasks .name {
  font-family: 'PT Root UI', sans-serif;
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
  display: inline-block;
  left: 20px;
  top: 10px;
  position: absolute;
}

.tasks .description {
  font-family: 'PT Root UI', sans-serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: normal;
  display: inline-block;
  left: 20px;
  top: 33px;
  position: absolute;
}

.tasks .completed {
  font-family: 'PT Root UI', sans-serif;
  font-size: 12px;
  line-height: 12px;
  font-weight: bold;
  display: inline-block;
  left: 21px;
  bottom: 10px;
  position: absolute;
}

.tasks .button {
  width: 100px;
  height: 40px;
  background-color: #333333;
  border-style: none;
  border-radius: 10px;
  position: absolute;
  color: white;
  font-family: 'PT Root UI', sans-serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: bold;
  top: 20px;
  right: 20px;
  
}

.button:hover {

  background-color: black;
}

.button:active {
  background-color: #666666;
}