.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.task {
  &-theme-light {
  width: 400px;
  height: 80px;
  background-color: #eeeeee;
  position: relative;
  display: block;
  margin-top: 20px;
  border-radius: 20px;

  &:hover {
    position: relative;
    top: 2px;
    left: 2px;
  }

  .name {
    font-family: 'PT Root UI', sans-serif;
    font-size: 18px;
    line-height: 18px;
    font-weight: bold;
    display: inline-block;
    left: 20px;
    top: 10px;
    position: absolute;
    color: black;
  }

  .description {
    font-family: 'PT Root UI', sans-serif;
    font-size: 14px;
    line-height: 14px;
    font-weight: normal;
    display: inline-block;
    left: 20px;
    top: 33px;
    position: absolute;
    color: black;
  }

  .completed {
    font-family: 'PT Root UI', sans-serif;
    font-size: 12px;
    line-height: 12px;
    font-weight: bold;
    display: inline-block;
    left: 21px;
    bottom: 10px;
    position: absolute;
    color: black;
  }
}

  &-theme-dark {
    width: 400px;
    height: 80px;
    background-color: #333333;
    position: relative;
    display: block;
    margin-top: 20px;
    border-radius: 20px;
  
    &:hover {
      position: relative;
      top: 2px;
      left: 2px;
    }
  
    .name {
      font-family: 'PT Root UI', sans-serif;
      font-size: 18px;
      line-height: 18px;
      font-weight: bold;
      display: inline-block;
      left: 20px;
      top: 10px;
      position: absolute;
      color: white;
    }
  
    .description {
      font-family: 'PT Root UI', sans-serif;
      font-size: 14px;
      line-height: 14px;
      font-weight: normal;
      display: inline-block;
      left: 20px;
      top: 33px;
      position: absolute;
      color: white;
    }
  
    .completed {
      font-family: 'PT Root UI', sans-serif;
      font-size: 12px;
      line-height: 12px;
      font-weight: bold;
      display: inline-block;
      left: 21px;
      bottom: 10px;
      position: absolute;
      color: white;
    }

  }
}

.button {
  &-theme-light {
    width: 100px;
    height: 40px;
    background-color: #333333;
    border-style: none;
    border-radius: 10px;
    position: absolute;
    color: white;
    font-family: 'PT Root UI', sans-serif;
    font-size: 14px;
    line-height: 14px;
    font-weight: bold;
    top: 20px;
    right: 20px;

    &:hover {
      background-color: black;
    }
    &:active {
      background-color: #666666;
    }
  }
  &-theme-dark {
    width: 100px;
    height: 40px;
    background-color: white;
    border-style: none;
    border-radius: 10px;
    position: absolute;
    color: black;
    font-family: 'PT Root UI', sans-serif;
    font-size: 14px;
    line-height: 14px;
    font-weight: bold;
    top: 20px;
    right: 20px;

    &:hover {
      background-color: black;
      color: white;
    }
    &:active {
      background-color: #666666;
      color: white;
    }
  }
  }
