.container {
  display: flex;
  flex-direction: row;

    .project_container {
      display: flex;
      flex-direction: column;

      .title {
        &-theme-light {
            font-family: 'PT Root UI', sans-serif;
            font-size: 40px;
            line-height: 40px;
            font-weight: bold;
            display: flex;
            margin-left: 120px;
            top: 30px;
            margin-bottom: 30px;
            position: relative;
            color: black;
        }
        &-theme-dark {
            font-family: 'PT Root UI', sans-serif;
            font-size: 40px;
            line-height: 40px;
            font-weight: bold;
            display: flex;
            margin-left: 120px;
            top: 30px;
            margin-bottom: 30px;
            position: relative;
            color: white;
        }
      }
    
    .tasks_container {
      display: flex;
      flex-direction: column;
    }
  }
}


