.container {
    display: flex;
    position: relative;
    flex-direction: column;
    margin-left: 40px;

    .title {
        &-theme-light {
            font-family: 'PT Root UI', sans-serif;
            font-size: 40px;
            line-height: 40px;
            font-weight: bold;
            display: flex;
            margin-left: 40px;
            top: 30px;
            margin-bottom: 20px;
            position: relative;
            color: black;
        }
        &-theme-dark {
            font-family: 'PT Root UI', sans-serif;
            font-size: 40px;
            line-height: 40px;
            font-weight: bold;
            display: flex;
            margin-left: 40px;
            top: 30px;
            margin-bottom: 20px;
            position: relative;
            color: white;
        }
      }
  }