.container {
  height: 1000%;
  &-theme-dark {
    background-color: #121212;
  }
  &-theme-light {
    background-color: white;
  }
}

.header {
  max-width: 100%;
  height: 80px;
  background: rgb(16,16,16);
  background: linear-gradient(180deg, rgba(16,16,16,1) 0%, rgba(51,51,51,1) 100%);
  
  .logo {
    font-family: 'PT Root UI', sans-serif;
    font-size: 30px;
    line-height: 30px;
    font-weight: 800;
    color: white;
    display: inline-block;
    left: 40px;
    top: 25px;
    position: absolute;
  }
}