.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 30px;
}

.button_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  &-theme-light {
  width: 400px;
  height: 40px;
  background-color: #333333;
  border-style: none;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: white;
  font-family: 'PT Root UI', sans-serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: bold;
  top: 10px;

  &:hover {
    background-color: black;
  }

  &:active {
    background-color: #666666;
  }
}

&-theme-dark {
  width: 400px;
  height: 40px;
  background-color: white;
  border-style: none;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: black;
  font-family: 'PT Root UI', sans-serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: bold;
  top: 10px;

  &:hover {
    background-color: #333333;
    color: white;
  }

  &:active {
    background-color: #333333;
    color: white;
  }
}
}