.input {
  width: 400px;
  height: 30px;
  background-color: #eeeeee;
  position: relative;
  margin-left: 200px;
  margin-top: 20px;
  border-radius: 10px;
  border: none;
}

.input:hover {
  position: relative;
  background-color: #f5f5f5;
}

.input:active {
  position: relative;
  background-color: #f5f5f5;
  border-color: black;
  border-radius: 10px;
}

.input:focus {
  position: relative;
  background-color: #f5f5f5;
  border-color: black;
  border-radius: 10px;
}

.tasks .name {
  font-family: 'PT Root UI', sans-serif;
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
  display: inline-block;
  left: 20px;
  top: 10px;
  position: absolute;
}

.tasks .description {
  font-family: 'PT Root UI', sans-serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: normal;
  display: inline-block;
  left: 20px;
  top: 33px;
  position: absolute;
}

.tasks .completed {
  font-family: 'PT Root UI', sans-serif;
  font-size: 12px;
  line-height: 12px;
  font-weight: bold;
  display: inline-block;
  left: 21px;
  bottom: 10px;
  position: absolute;
}

.button {
  width: 400px;
  height: 40px;
  background-color: #333333;
  border-style: none;
  border-radius: 10px;
  position: relative;
  color: white;
  font-family: 'PT Root UI', sans-serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: bold;
  top: 20px;
  left: 200px;
  margin-bottom: 20px;

  
}

.button:hover {

  background-color: black;
}

.button:active {
  background-color: #666666;
}