.radios {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: row;
    padding: 31px 40px 31px 0;
    font-family: 'PT Root UI', sans-serif;
    font-size: 14px;
    line-height: 14px;
    font-weight: normal;
    color: white;
    }